In [77]:
import pandas as pd

In [78]:
### import data

In [79]:
#import os
#cwd = os.getcwd()
#cwd

In [80]:
#os.chdir('/Users/thiemia/vanderbilt-aspire-data-essentials')

In [81]:
hospice_df = pd.read_csv('data/Hospice_General_Information.csv')

In [82]:
hospice_df.tail(5)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
4638,921720,"COMFORTING CARE HOSPICE, INC",5924 E LOS ANGELES AVENUE SUITE L,NaN,SIMI VALLEY,CA,93063,Ventura,(805) 236-8644,9,For-Profit,11/16/2017
4639,921721,"BLESSED HOPE HOSPICE, INC","2619 S WATERMAN AVE, SUITE D",NaN,SAN BERNARDINO,CA,92408,San Bernardino,(909) 492-0055,9,For-Profit,09/26/2017
4640,921722,VISTA HOSPICE CARE INC,"550 WEST VISTA WAY, SUITE 310",NaN,VISTA,CA,92083,San Diego,(760) 407-6425,9,For-Profit,12/21/2017
4641,921723,"NORCAL HOSPICE, INC.","700 W. 6TH STREET, SUITE K-B",NaN,GILROY,CA,95020,Santa Clara,(408) 548-7994,9,For-Profit,01/10/2018
4642,921729,"AFFECTIVE HOSPICE CARE, INC","5050 PALO VERDE STREET, SUITE 208",NaN,MONTCLAIR,CA,91763,San Bernardino,(909) 000-0000,9,For-Profit,12/26/2017

In [83]:
hospice_df = hospice_df.loc[hospice_df.State =='TN']
hospice_df.head(5)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984
2891,441504,HOSPICE OF CHATTANOOGA INC,4411 OAKWOOD DRIVE,NaN,CHATTANOOGA,TN,37416,Hamilton,(423) 892-4289,4,Non-Profit,06/30/1986
2892,441506,AMEDISYS HOSPICE CARE,6570 STAGE ROAD SUITE 110,NaN,BARTLETT,TN,38134,Shelby,(901) 680-0378,4,For-Profit,02/09/1987
2893,441507,NORTHCREST HOME HEALTH AND HOSPICE,212 NORTHCREST DRIVE,NaN,SPRINGFIELD,TN,37172,Robertson,(615) 384-9425,4,Other,07/13/1987

In [84]:
# Keep only the **Facility Name**, **Address Line 1**, **City**, **State**, **County Name**, **CMS Region**, **Ownership Type**, and **Cerfification Date** columns. Make all column names lower case and without spaces.  
hospice_df.columns = ['ccn','facility','address','address2','city',
                      'state','zip','county','phone','region','owner_type','cert_date']
hospice_df.head(2)

,ccn,facility,address,address2,city,state,zip,county,phone,region,owner_type,cert_date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [85]:
hospice_df.count()

ccn           56
facility      56
address       56
address2       0
city          56
state         56
zip           56
county        56
phone         56
region        56
owner_type    56
cert_date     56
dtype: int64

In [86]:
#Examine the first 5 rows and the last five rows of the TN hospice data.

In [87]:
hospice_df.drop(columns=['ccn', 'address2','zip','phone'])

,facility,address,city,state,county,region,owner_type,cert_date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984
2891,HOSPICE OF CHATTANOOGA INC,4411 OAKWOOD DRIVE,CHATTANOOGA,TN,Hamilton,4,Non-Profit,06/30/1986
2892,AMEDISYS HOSPICE CARE,6570 STAGE ROAD SUITE 110,BARTLETT,TN,Shelby,4,For-Profit,02/09/1987
2893,NORTHCREST HOME HEALTH AND HOSPICE,212 NORTHCREST DRIVE,SPRINGFIELD,TN,Robertson,4,Other,07/13/1987
2894,HOSPICE OF CUMBERLAND COUNTY INC,30 EAST ADAMS STREET,CROSSVILLE,TN,Cumberland,4,Non-Profit,07/12/1988
2895,HIGHPOINT HOSPICE,575 EAST BLEDSOE STREET SUITE 9,GALLATIN,TN,Sumner,4,For-Profit,10/11/1988
2896,HOSPICE OF WEST TENNESSEE,1804 HWY 45 BYPASS DUFFY TOWERS SUITE 100,JACKSON,TN,Madison,4,Combination Government & Non-Profit,10/24/1988
2897,KINDRED HOSPICE,750 E SPRING ST STE B1,COOKEVILLE,TN,Putnam,4,For-Profit,11/28/1989
2898,TENNOVA HOSPICE-CLARKSVILLE,141 HATCHER LANE,CLARKSVILLE,TN,Montgomery,4,For-Profit,02/21/1991
2899,AMEDISYS HOSPICE AN ADVENTA COMPANY,"1420 DUTCH VALLEY ROAD, SUITE C",KNOXVILLE,TN,Knox,4,For-Profit,07/26/1991
2900,BLOUNT MEMORIAL HOSPITAL HOSPICE,1095 EAST LAMAR ALEXANDER PARKWAY,MARYVILLE,TN,Blount,4,Government,11/14/1991
2901,ASERACARE HOSPICE - NASHVILLE,"441 DONELSON PIKE, SUITE 400",NASHVILLE,TN,Davidson,4,For-Profit,03/19/1992
2902,SUNCREST HOSPICE,903 MAIN STREET,NEW TAZEWELL,TN,Claiborne,4,For-Profit,04/02/1993
2903,LINCOLN MEDICAL HOME HEALTH AND HOSPICE,1797 WILSON PARKWAY,FAYETTEVILLE,TN,Lincoln,4,Government,03/05/1993
2904,"AMEDISYS HOSPICE, AN ADVENTA COMPANY",7205 LEE HIGHWAY SUITE B,CHATTANOOGA,TN,Hamilton,4,Other,05/19/1993
2905,"AMEDISYS HOSPICE, AN ADVENTA COMPANY",1500 WEST ELK AVENUE SUITE 202,ELIZABETHTON,TN,Carter,4,For-Profit,06/30/1993
2906,BAPTIST TRINITY HOSPICE,6141 WALNUT GROVE ROAD,MEMPHIS,TN,Shelby,4,Other,08/30/1993
2907,MEDICAL CENTER HOSPICE,"509 MED TECH PARKWAY, SUITE 200",JOHNSON CITY,TN,Washington,4,Non-Profit,10/01/1993
2908,COVENANT HOSPICE,3001 LAKE BROOK BLVD SUITE 101,KNOXVILLE,TN,Knox,4,Non-Profit,11/15/1993
2909,AVALON HOSPICE,"2525 PERIMETER PLACE DRIVE, SUITE 105",NASHVILLE,TN,Davidson,4,For-Profit,06/20/1994
2910,UNIVERSITY OF TN MEDICAL CENTER HOME CARE SERV...,"4435 VALLEY VIEW DRIVE, SUITE 104",KNOXVILLE,TN,Knox,4,For-Profit,06/09/1994
2911,HENRY COUNTY MEDICAL CENTER HOSPICE,311 EAST WOOD STREET,PARIS,TN,Henry,4,Government,06/24/1994
2912,SMOKY MOUNTAIN HOSPICE INC,222 HERITAGE BLVD PO BOX 754,NEWPORT,TN,Cocke,4,For-Profit,06/23/1994
2913,GENTIVA HOSPICE,1400 DONELSON PIKE SUITE B5,NASHVILLE,TN,Davidson,4,For-Profit,06/30/1994
2914,WILLOWBROOK HOSPICE INC,1335 WEST MAIN STREET SUITE B,FRANKLIN,TN,Williamson,4,For-Profit,08/01/1994
2915,HOME HEALTH CARE OF EAST TENNESSEE INC AND HOS...,2765 EXECUTIVE PARK DRIVE,CLEVELAND,TN,Bradley,4,For-Profit,01/17/1995
2916,WELLMONT HOSPICE,280 STEELES ROAD,BRISTOL,TN,Sullivan,4,Non-Profit,01/12/1995
2917,TENNOVA HEALTHCARE HOSPICE,7447 ANDERSONVILLE PIKE,KNOXVILLE,TN,Knox,4,For-Profit,05/16/1995
2918,HOSPICE COMPASSUS,"1805 N JACKSON STREET, SUITE 11 & 12",TULLAHOMA,TN,Coffee,4,For-Profit,07/31/1996
2919,CROSSROADS HOSPICE OF TENNESSE,1669 SHELBY OAKS DRIVE SUITE 106,MEMPHIS,TN,Shelby,4,For-Profit,05/22/1998
2920,BAPTIST MEMORIAL HOME CARE & HOSPICE,631 R B WILSON DRIVE,HUNTINGDON,TN,Carroll,4,Non-Profit,07/29/1998
2921,AVALON HOSPICE,7625 HAMILTON PARK DRIVE SUITE 19,CHATTANOOGA,TN,Hamilton,4,For-Profit,09/16/1998
2922,BAPTIST HOMECARE AND HOSPICE,1201 BISHOP STREET,UNION CITY,TN,Obion,4,Non-Profit,05/27/1999
2923,UNIVERSITY OF TN MEDICAL CENTER HOSPICE SERV,"3301 WEST ANDREW JOHNSON HIGHWAY, SUITE 102",MORRISTOWN,TN,Hamblen,4,Other,07/14/1999
2924,COMPASSUS-MEMPHIS,5796 SHELBY OAKS DRIVE SUITE 6,MEMPHIS,TN,Shelby,4,For-Profit,11/06/2000
2925,ASERACARE HOSPICE - MCKENZIE,1939 A CEDAR STREET,MC KENZIE,TN,Carroll,4,For-Profit,06/04/2001
2926,TENNESSEE QUALITY HOSPICE,2879 HIGHWAY 45 BYPASS,JACKSON,TN,Madison,4,For-Profit,06/18/2001
2927,CARIS HEALTHCARE,242 HERITAGE PARK DRIVE SUITE 101,MURFREESBORO,TN,Rutherford,4,For-Profit,03/08/2004
2928,CARIS HEALTHCARE,10651 COWARD MILL RD SUITE B,KNOXVILLE,TN,Knox,4,For-Profit,03/25/2004
2929,CARIS HEALTHCARE,2525 PERIMETER PLACE DRIVE SUITE 131,NASHVILLE,TN,Davidson,4,For-Profit,06/01/2004
2930,CARIS HEALTHCARE,110 A WEST SPRINGBROOK DR STE A,JOHNSON CITY,TN,Washington,4,For-Profit,06/17/2004
2931,VOLUNTEER HOSPICE,211A DEXTER L WOODS MEMORIAL BLVD,WAYNESBORO,TN,Wayne,4,For-Profit,11/22/2004
2932,CARIS HEALTHCARE,5959 SHALLOWFORD ROAD SUITE 551,CHATTANOOGA,TN,Hamilton,4,For-Profit,05/12/2005
2933,"GUARDIAN HOSPICE OF NASHVILLE, LLC","741 COOL SPRINGS BOULEVARD, SUITE 102",FRANKLIN,TN,Williamson,4,For-Profit,06/01/2005
2934,ADORATION HOSPICE,545 MAINSTREAM DRIVE SUITE 412,NASHVILLE,TN,Davidson,4,For-Profit,12/02/2005
2935,CARIS HEALTHCARE,17410 HIGHWAY 64,SOMERVILLE,TN,Fayette,4,For-Profit,12/07/2005
2936,CARIS HEALTHCARE,2308A MEMORIAL BLVD,SPRINGFIELD,TN,Robertson,4,For-Profit,03/30/2006
2937,CARIS HEALTHCARE,"421 OLD RICEVILLE ROAD, SUITE 3",ATHENS,TN,McMinn,4,For-Profit,05/31/2006
2938,"UNITY HOSPICE CARE OF TENNESSEE, LLC",202 EAST SCHOOL STREET,LINDEN,TN,Perry,4,For-Profit,02/21/2007
2939,HANCOCK COUNTY HOME HEALTH & HOSPICE AGENCY,1246 MAIN STREET PO BOX 32,SNEEDVILLE,TN,Hancock,4,Government,04/21/2010
2940,ENCOMPASS HOSPICE OF TENNESSEE,828 ROYAL PARKWAY SUITE 113,NASHVILLE,TN,Davidson,4,For-Profit,06/16/2010
2941,QUALITY HOSPICE,341 WEST CENTRAL AVENUE,JAMESTOWN,TN,Fentress,4,For-Profit,01/04/2013
2942,HEARTH HOSPICE,1800A ROSSVILLE AVE SUITE 114,CHATTANOOGA,TN,Hamilton,4,For-Profit,03/22/2013
2943,"AMEDISYS HOSPICE, AN ADVENTA COMPANY",400 ROYAL PARKWAY,NASHVILLE,TN,Davidson,4,Other,01/05/2016
2944,KINDRED HOSPICE,"430 STUART RD NE, STE 2",CLEVELAND,TN,Bradley,4,For-Profit,01/04/2017

In [88]:
hospice_df.shape

(56, 12)

In [91]:
cancer_df = pd.read_csv('data/cancer_deaths.csv', skiprows=4, nrows=97)

In [92]:
cancer_df.head()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [93]:
#Print the shape of the cancer data.

In [94]:
cancer_df.shape

(97, 11)

In [95]:
cancer_df.columns = ['county','fips','objmet','deathrate','lowconfi',
                      'upconfi','avgcount','rectrend','rectrend5ydeathrate','lowconfi1','upconfi1']
cancer_df.head(2)

,county,fips,objmet,deathrate,lowconfi,upconfi,avgcount,rectrend,rectrend5ydeathrate,lowconfi1,upconfi1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5

In [96]:
pop_df = pd.read_csv('data/PEP_2017_PEPAGESEX.csv',skiprows=1)
#pop_df.iloc[3:]
pop_df.head(2)

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
0,0500000US47001,47001,"Anderson County, Tennessee",75129,36308,38821,75094,36288,38806,75112,...,44.8,43.3,41.4,44.8,43.3,41.5,45.1,43.2,41.2,45.0
1,0500000US47003,47003,"Bedford County, Tennessee",45058,22357,22701,45056,22356,22700,45086,...,38.4,37.2,35.9,38.5,37.5,36.2,38.8,37.5,36.2,38.9

In [97]:
pop_df.shape

(95, 993)

In [98]:
#keep only columns that pertain to 2010, 2014, and 2017

In [120]:
pop_df1 = pop_df[pop_df.columns.drop(list(pop_df.filter(
    regex='Id|Id2|April|2011|2012|2013|2015|2016|to 14|15|16|20 to|25|30|35|45|40|18|Male|Female|5 to 9|Under 5|65 years|Both Sexes; 85 years and over')))]
pop_df1.shape

(95, 31)

In [121]:
list(pop_df1)

['Geography',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)']

In [122]:
#In the end, you should have these 31 columns:  
 #  `'county', 'pop2010all', 'pop2014all', 'pop2017all', 'median_age_2010', 'median_age_2014', 'median_age_2017', 'pop2010_50to54','pop2014_50to54', 'pop2017_50to54', 'pop2010_55to59', 'pop2014_55to59', 'pop2017_55to59', 'pop2010_60to64', 'pop2014_60to64', 'pop2017_60to64',
  #  'pop2010_65to69', 'pop2014_65to69', 'pop2017_65to69', 'pop2010_70to74', 'pop2014_70to74', 'pop2017_70to74', 'pop2010_75to79', 'pop2014_75to79', 'pop2017_75to79', 'pop2010_80to84', 'pop2014_80to84', 'pop2017_80to84',
   # 'pop2010_85over', 'pop2014_85over', 'pop2017_85over'.

In [123]:
cancer_df.head(2)

,county,fips,objmet,deathrate,lowconfi,upconfi,avgcount,rectrend,rectrend5ydeathrate,lowconfi1,upconfi1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5

In [124]:
pop_df1.columns = ['county', 'pop2010all', 'pop2014all', 'pop2017all', 'pop2010_50to54','pop2014_50to54', 'pop2017_50to54', 'pop2010_55to59', 'pop2014_55to59', 'pop2017_55to59', 'pop2010_60to64', 'pop2014_60to64', 'pop2017_60to64',
    'pop2010_65to69', 'pop2014_65to69', 'pop2017_65to69', 'pop2010_70to74', 'pop2014_70to74', 'pop2017_70to74', 'pop2010_75to79', 'pop2014_75to79', 'pop2017_75to79', 'pop2010_80to84', 'pop2014_80to84', 'pop2017_80to84',
    'pop2010_85over', 'pop2014_85over', 'pop2017_85over','median_age_2010', 'median_age_2014', 'median_age_2017']

pop_df1.head(2)

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,pop2017_75to79,pop2010_80to84,pop2014_80to84,pop2017_80to84,pop2010_85over,pop2014_85over,pop2017_85over,median_age_2010,median_age_2014,median_age_2017
0,"Anderson County, Tennessee",75112,75131,76257,5850,5690,5296,5577,5689,5643,...,2501,1969,1779,1785,2135,2211,2173,42.6,43.3,43.2
1,"Bedford County, Tennessee",45086,46259,48117,3043,3207,3239,2646,2938,3143,...,1321,756,729,811,647,679,640,36.5,37.2,37.5

In [125]:
pop_and_cancer = pd.merge(pop_df1, cancer_df, on='county', how='outer'  )

In [126]:
pop_and_cancer.head()

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,fips,objmet,deathrate,lowconfi,upconfi,avgcount,rectrend,rectrend5ydeathrate,lowconfi1,upconfi1
0,"Anderson County, Tennessee",75112.0,75131.0,76257.0,5850.0,5690.0,5296.0,5577.0,5689.0,5643.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Bedford County, Tennessee",45086.0,46259.0,48117.0,3043.0,3207.0,3239.0,2646.0,2938.0,3143.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Benton County, Tennessee",16511.0,16176.0,15986.0,1259.0,1204.0,1179.0,1224.0,1239.0,1206.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Bledsoe County, Tennessee",12882.0,14419.0,14717.0,1005.0,1216.0,1185.0,903.0,1100.0,1197.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Blount County, Tennessee",123213.0,125827.0,129929.0,9152.0,9658.0,9522.0,8657.0,9094.0,9615.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
hospice_df.head(2)

,ccn,facility,address,address2,city,state,zip,county,phone,region,owner_type,cert_date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [ ]:
mydictionary= df.column.value_counts().to_dict()

In [ ]:
#Use the pandas series `value_counts()` method to create a dictionary called `hospice_per_county`. The key for this dict will be the county name and the value will be the count of hospice facilities in that county. Populate the dictionary for all TN counties by adding the counties with 0 hospice facilities to `hospice_per_county`.

In [156]:
#hospice_per_county = hospice_df.county.value_counts('facility').to_dict()

In [158]:
counts = hospice_df.groupby('county').count()

In [159]:
hospice_per_county = counts['facility']

In [160]:
hospice_per_county

county
Blount        1
Bradley       2
Carroll       2
Carter        1
Claiborne     1
Cocke         1
Coffee        1
Cumberland    1
Davidson      8
Fayette       1
Fentress      1
Hamblen       1
Hamilton      5
Hancock       1
Henry         1
Knox          5
Lincoln       1
Madison       2
McMinn        1
Montgomery    1
Obion         1
Perry         1
Putnam        1
Robertson     2
Rutherford    1
Shelby        5
Sullivan      1
Sumner        1
Washington    2
Wayne         1
Williamson    2
Name: facility, dtype: int64

In [151]:
#Use the dictionary you created, `hospice_per_county` to populate a new column in `pop_and_cancer`. Call this column `hospice_count`.
hospice_df.shape

(56, 12)

In [152]:
pop_and_cancer.shape

(192, 41)

In [153]:
pop_and_cancer2 = pd.merge(pop_and_cancer, hospice_per_county, on='county', how='inner'  )

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>